<div class="container">
  <div class="row row__header">
    <div class="row__header-title">OCCUPATO</div>
  </div>
  <div class="row row__start">
    <div class="row__start-title">Tempo di percorrenza corridoio andata</div>
    <div class="row__start-title">00 ore 00 minuti 00 secondi</div>
  </div>
  <div class="row row__wc">
    <div class="row__wc-title">Tempo di percorrenza locale bagno</div>
    <div class="row__wc-title">00 ore 00 minuti 00 secondi</div>
  </div>
  <div class="row row__back">
    <div class="row__start-title">Tempo di percorrenza corridoio ritorno</div>
    <div class="row__start-title">00 ore 00 minuti 00 secondi</div>
  </div>
</div>
